@import '@stylesheets/colors';
.letter {
    cursor: pointer;
    &-clickable:hover {
        filter: drop-shadow(0 -2px 2px $text-hover-shadow);
    }
    &__popover {
        height: unset !important;
    }
}