@import '@stylesheets/common';
.lyrics-line {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    &:hover .lyrics-line__icon {
        visibility: visible;
    }
    &__cell {
        display: flex;
        flex-direction: column;
        white-space: pre;
        &_line {
            display: flex;
            flex-direction: row;
        }
    }
    &__actions {
        margin-right: $spacing-lg;
    }
    &__icon {
        cursor: pointer;
        visibility: hidden;
        margin-left: $spacing;
        margin-bottom: $spacing-xxs;
        &:hover {
            filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
        }
        &_left {
            margin-left: 0;
            margin-right: $spacing;
        }
    }
}