@import '@stylesheets/common';
@import '@stylesheets/colors';

.lyrics-line {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 1px;
    margin-left: 5px;
    &:hover .lyrics-line__icon {
        visibility: visible;
    }
    &__cell {
        display: flex;
        flex-direction: column;
        white-space: pre;
        &_line {
            display: flex;
            flex-direction: row;
        }
    }
    &__actions {
        margin-right: $spacing-lg;
    }

    &__icon {
        visibility: hidden;
    }
}
