@import '@stylesheets/common';
@import '@stylesheets/colors';

.lyrics-line {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 1px;
    position: relative;

    &:hover .lyrics-line__icon {
        visibility: visible;
    }

    &__cell {
        display: flex;
        flex-direction: column;
        white-space: pre;
        &_line {
            display: flex;
            flex-direction: row;
        }
    }
    &__actions {
        margin-right: $spacing-lg;
    }

    &__icon {
        visibility: hidden;
    }

    &__chord {
        position: absolute;
        bottom: 1rem;

        &--tail {
            position: relative;
        }

        &--offset {
            left: -10px;
        }
    }

    &__offset-container {
        position: relative;
        display: flex;
    }

    &__letter-chord-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

