.edit-line {
    border-bottom: 1px solid black;
    padding: 0 4px;
    margin-left: 5px;
    font-style: italic;

    &:focus-within {
        border: unset;
        border-bottom: 1px solid orange;
    } 
}