@import '@stylesheets/common';

.chords-line {
    display: flex;

    &--offset {
        margin-left: $spacing;
    }

    &__empty-button:hover {
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
        cursor: pointer;
    }

    &:hover .chords-line__icon {
        visibility: visible;
    }

    &__icon {
        visibility: hidden;
    }
}
