@import '@stylesheets/common.scss';

$border: 1px solid gray;
$border-radius: 6px;

.make-pdf-modal {
    &__list {
        border: $border;
        border-radius: $border-radius;
        padding: 0 $spacing-xs;
    }

    &__list-placeholder {
        display: flex;
        justify-content: center;
        align-items: center;
        border: $border;
        border-radius: $border-radius;
        height: 40px;
    }

    &__button-left {
        float: left;
    }
}

