@import '@stylesheets/common.scss';
.string {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;

    &__container:hover .string__icon {
        visibility: visible;
    }

    &__text {
        margin-left: 20px;

        &--placeholder {
            font-style: italic;
            color: darkgrey;
        }
    }

    &__icon {
        padding-left: $spacing-xs;
        visibility: hidden;
        cursor: pointer;
        &:hover {
            filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
        }
    }
}
