@import '@stylesheets/colors';
@import '@stylesheets/common';

.letter {
    cursor: default;
    white-space: pre;
    &-clickable {
        cursor: pointer;
        &:hover {
            filter: drop-shadow(0 -2px 2px $text-hover-shadow);
        }
    }
    &-whitespace_clickable {
        cursor: pointer;
        border-radius: 5px;
        &:hover {
            background: linear-gradient(white, rgba($text-hover-shadow, 0.5));
        }
    }
    &-empty {
        width: $left-line-offset;
    }
    &__popover {
        height: unset !important;
    }
}
