@import '@stylesheets/common';
@import '@stylesheets/colors';

.lyrics-line {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 1px;
    position: relative;
    height: 100%;

    &:hover .lyrics-line__icon {
        visibility: visible;
    }

    &__cell {
        display: flex;
        flex-direction: column;
        white-space: pre;
        height: 100%;
        justify-content: end;
        &_line {
            display: flex;
            flex-direction: row;
            height: 100%;
        }
    }
    &__actions {
        margin-left: $spacing-lg;
    }

    &__icon {
        visibility: hidden;
    }
}

