body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: auto;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
}

body>div {
    height: 100%;
}


/* проблема где-то здесь. */

.rs-container {
    height: 100%;
}