@import '../../../stylesheets/common.scss';
.header {
    display: flex;
    flex-direction: row;

    &__content {
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: $spacing $spacing $spacing-xs $spacing;
    }
    &__button {
        margin-left: $spacing-xs;
    }
}
